<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqyj.dao.Customer1Mapper" >
  <resultMap id="BaseResultMap" type="com.hqyj.pojo.Customer1" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_card" property="cCard" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR" />
    <result column="c_account" property="cAccount" jdbcType="VARCHAR" />
    <result column="c_password" property="cPassword" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_name, c_card, c_phone, c_account, c_password, role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer1
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer1
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hqyj.pojo.Customer1" >
    insert into customer1 (c_id, c_name, c_card, 
      c_phone, c_account, c_password, 
      role)
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cCard,jdbcType=VARCHAR}, 
      #{cPhone,jdbcType=VARCHAR}, #{cAccount,jdbcType=VARCHAR}, #{cPassword,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hqyj.pojo.Customer1" >
    insert into customer1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cCard != null" >
        c_card,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cAccount != null" >
        c_account,
      </if>
      <if test="cPassword != null" >
        c_password,
      </if>
      <if test="role != null" >
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cCard != null" >
        #{cCard,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cAccount != null" >
        #{cAccount,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqyj.pojo.Customer1" >
    update customer1
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cCard != null" >
        c_card = #{cCard,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cAccount != null" >
        c_account = #{cAccount,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        c_password = #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqyj.pojo.Customer1" >
    update customer1
    set c_name = #{cName,jdbcType=VARCHAR},
      c_card = #{cCard,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_account = #{cAccount,jdbcType=VARCHAR},
      c_password = #{cPassword,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>

  <select id="selectByPersonNameAndPersonPassword" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from customer1
    where c_account = #{username}
  </select>
</mapper>